@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg-card {
    background-image: url('https://nkb-backend-media-static-tenxiitian.s3.ap-south-1.amazonaws.com/tenxiitian_prod/programs/Tech+Programs/frontend-content/ccbp/coding-practice-questions/static-websites/advanced-technologies-v1.png');
    height: 100vh;
    background-size: cover;
}

.advanced-card {
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 20px;
}

.advanced-title {
    color: #5752ab;
    font-family: "Bree Serif";
    font-size: 24px;
}

.advanced-dis {
    color: #323f4b;
    font-family: "Roboto";
}

.btn-save {
    color: #ffffff;
    background-color: #5752ab;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    width: 126px;
    height: 38px;
    border-width: 0px;
    border-radius: 8px;
    margin-left: 5px;
}

.btn-learn {
    color: #171f46;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    width: 126px;
    height: 38px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7dfe9;
    border-radius: 8px;
    margin: 5px;
}